@mixin smallScreen() {
  font-size: 3em;
}

@mixin mediumScreen() {
  font-size: 4em;
}

@mixin largeScreen() {
  font-size: 5em;
}

.parent {
  display: flex;
  align-items: center;
  justify-content: center;
  height: calc(100vh - 61px);
  background-color: #FBC817;
  color: #000;
  font-family: Rockwell;
  #child {
    display: flex;
    justify-content: center;
    align-items: center;
    width: 100%;

    svg{
      height: 40vh;
    }

    h1 {
      position: absolute;
      text-align: center;
      @media only screen and (min-width: 1025px) {
        @include largeScreen;
      }
      @media only screen and (max-width: 1024px) {
        @include mediumScreen;
      }
      @media only screen and (max-width: 770px) {
        @include smallScreen;
      }
    }
  }
}

#dialogues h1 {
  position: absolute;
  font-size: 4em;
}
