.spacer {
  flex: 1;
}

.toolbar {
  position: absolute;
  top: 0;
  left: 0;
  right: 0;
  height: 60px;
  display: flex;
  align-items: center;
  background-color: #dccec0;
  color: #be5d4e;
  font-weight: 600;

  .github {
    margin: 0 10px;
  }
}

.toolbar img,
.toolbar svg {
  fill: #be5d4e;
  margin: 0 16px;
  transition: all 0.2s ease-in-out;

  &:hover {
    transition: all 0.2s ease-in-out;
    fill: #a72c1f;
  }
}

.toolbar #twitter-logo {
  height: 40px;
  margin: 0 16px;
}

.toolbar #twitter-logo:hover {
  opacity: 0.8;
}

span {
  a,
  a:active,
  a:visited,
  a:focus {
    color: #be5d4e;
    font-weight: 600;
    text-decoration: none;
    transition: all 0.2s ease-in-out;
  }
  a:hover {
    transition: all 0.2s ease-in-out;
    color: #a72c1f;
  }
  margin: 0 10px;
}
