<div class="section1">
  <h1>🤕 Header Content</h1>
</div>

<div class="head">
  <div class="content-box">
    <h2 class="heading" id="heading1">This is our <br>Idea Stack</h2>
    <h2 class="heading" id="heading2">AWS, Azure, <br>Google Cloud</h2>
    <h2 class="heading" id="heading3">APIs Fully Secure <br>on Intranet</h2>
    <h2 class="heading" id="heading4">Event Based <br>Surveillance</h2>
    <h2 class="heading" id="heading5">Better UI/UX <br>for Users</h2>
  </div>
  <div class="images-box" id="imageContainer">
    <img id="img1" #scrollImg src="https://www.hashicorp.com/img/home/stack.png" alt="stack" class="scroll-img">
    <img id="img2" #scrollImg src="https://www.hashicorp.com/img/home/stack-terraform.png" alt="stack"
      class="scroll-img">
    <img id="img3" #scrollImg src="https://www.hashicorp.com/img/home/stack-vault.png" alt="stack" class="scroll-img">
    <img id="img4" #scrollImg src="https://www.hashicorp.com/img/home/stack-consul.png" alt="stack" class="scroll-img">
    <img id="img5" #scrollImg src="https://www.hashicorp.com/img/home/stack-nomad.png" alt="stack" class="scroll-img">
  </div>
</div>

<div class="section3">
  <h1>Footer Content🦶</h1>
</div>
