@import '../app.component.scss';

.parent {
  display: flex;
  align-items: center;
  justify-content: center;
  height: calc(100vh - 61px);
  background-color: #020714;
  color: #143d93;
  font-family: Rockwell;
  #dialogues {
    display: flex;
    justify-content: center;
    align-items: center;
    width: 100%;

    h1 {
      position: absolute;
      text-align: center;
      @media only screen and (min-width: 1025px) {
        @include largeScreen;
      }
      @media only screen and (max-width: 1024px) {
        @include mediumScreen;
      }
      @media only screen and (max-width: 770px) {
        @include smallScreen;
      }
    }
  }
}

#dialogues h1 {
  position: absolute;
  font-size: 4em;
}
