<!-- <div class="parent">
  <div class="story">
    <div class="story__content story__content--top">
      <h1 class="blurb blurb-one" data-splitting="">Once upon a time,</h1>
      <h1 class="blurb blurb-three" data-splitting="">And they lied</h1>
    </div>
    <div class="story__content story__content--bottom">
      <h1 class="blurb blurb-two" data-splitting="">There was a marionette.</h1>
      <h1 class="blurb blurb-four" data-splitting="">and lied, and lied, and lied, and lied.</h1>
    </div>
  </div>

</div>
 -->

<div class="scrollElement">
  <div class="story">
    <h1 class="blurb blurb-one" data-splitting="">Do Something</h1>
    <h1 class="blurb blurb-three" data-splitting="">CREATIVE</h1>
    <h1 class="blurb blurb-two" data-splitting="">Do Not Waste</h1>
    <h1 class="blurb blurb-four" data-splitting="">TIME</h1>
  </div>
</div>

<!-- 
  Use splitting JS
  
-->
